<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All caffeine servings
    </h1>

    <a href="/calccaffeine" class="btn btn-block btn-outline-secondary">
      Add a new caffeine serving
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Caffeine amount
        </th>

        <th>
          Coffee chain
        </th>
        
        <th>
          Type of Drink
        </th>
        
        <th>
          Size
        </th>

        <th>
          Created at
        </th>


        <th>
        </th>
      </tr>

      <% @caffeine_servings.where({:id => current_user.id}).each do |caffeine_serving| %>
      <tr>
        <td>
          <%= caffeine_serving.id %>
        </td>

        <td>
          <%= caffeine_serving.caffeine_amount %>
        </td>

        <td>
          <%= caffeine_serving.coffee_chain %>
        </td>
        <td>
          <%= caffeine_serving.type_of_drink %>
        </td>
        <td>
          <%= caffeine_serving.size %>
        </td>

        <td>
          <%= time_ago_in_words(caffeine_serving.created_at) %> ago
        </td>

        <td>
          <a href="/caffeine_servings/<%= caffeine_serving.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
