<html> 
<head> <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"></head>


<body>
  <div class="col-md-12">
    <%= render("favorite_templates/fav_heading.html.erb") %>

  <div><i class="fas fa-crown"></i> Below is a list of all your top drinks:
  </div>
</div>
<hr>


    <a href="/favorites/new" class="btn btn-block btn-outline-secondary">
      Add a new favorite
    </a>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>
        <th>
          Coffee chain
        </th>

        <th>
          Size
        </th>
        
        <th>
          Type of Drink
        </th>
      </tr>

      <% @favorites_user.each do |favorite| %>
      <tr>
        <td>
          <%= favorite.id %>
        </td>
        
        <td>
          <%= favorite.coffee_chain %>
        </td>

        <td>
          <%= favorite.size %>
        </td>
        
        <td>
          <%= favorite.type_of_drink %>
        </td>

        <td>
          <a href="/favorites/<%= favorite.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>