<html> 
<head> <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"></head>

<body> 
<h3>
 User #<%= current_user.id %> Information
</h3>

<table>
  <tr><i class="fas fa-users-cog"></i>
    Name:
    </tr>
  <tr>
    <%= current_user.name %>
    </tr>
</table>

<table>
  <tr>
    Joined:
    </tr>
    <tr>
    <%= time_ago_in_words(current_user.created_at) %>
    </tr>
 </table>   

<div>
 <div>
   <a href="/users">
     Go back
   </a>
 </div>

 <div>
   <a href="/users/edit">
     Edit profile
   </a>
 </div>

 <div>
   <a href="/delete_user/<%= current_user.id %>">
     Delete profile
   </a>
 </div>
</div>
</body>
</html>
  
<table>
 <tr>
   <th>Id</th>
   <th>Caffeine amount</th>
   <th>Coffee chain </th>
   <th>Type of drink </th>
   <th>Size</th>
   <th></th>
 </tr>

<% @user_intake.each do |user| %>
 <tr>
   <td>
     <%= user.id %>
   </td>
 <% end %> 
 
 </body>
