<html> 
<head> <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"></head>


<body>
<h1> Calculation Results </h1>

<div><p> You have consumed a <%= @drink_type%> from <%= @coffee_chain%> of <%= @size%> size, which has <%= @caf_amount%> caffeine milligrams. </div>
<div> You have consumed <%= @daily_amount%> caffeine milligrams in total. </p></div>

<% if @daily_amount >=600 %>
    <p><h3> You reached your limit!</h3></p>
    <h1 class = big ><i class="far fa-frown-open"></i></h1>
    
    <h1>You are set for the day!</h1>

<% elsif @daily_amount <=600 && @daily_amount >= 500 %>
    <p> <h3>You drank too much coffee today!</h3></p>
    <h1 class = big ><i class="far fa-dizzy"></i></h1>
    
    <h3>Be careful. You are reaching the recommended limit!</h3>
    
<% elsif @daily_amount <=500 && @daily_amount >=300 %>
    <p> <h3>You are doing ok!</h3></p>
    <h1  class = big ><i class="far fa-smile-beam"></i></h1>
    
    <h3>You can have another one ot two more coffees!</h3>
    
<% else @daily_amount < 300 %>
    <p> <h3>You are doing great!</h3></p>
    <h1  class = big ><i class="far fa-smile-beam"></i></h1>
    
    <h3>You can have a coffee today!</h3>
    <% end%>
</body>
