
<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All drinks
    </h1>
    
    <div>Below is a list of all drinks from which you can choose from: </div>

  <a><img src="https://image.shutterstock.com/image-photo/cup-coffee-latte-beans-isolated-260nw-583224151.jpg">
    </a>
  </div>
</div>


    <a href="/drinks/new" class="btn btn-block btn-outline-secondary">
      Add a new drink
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Size
        </th>

        <th>
          Caffeine amount
        </th>

        <th>
          Coffee chain
        </th>

        <th>
          Type of drink
        </th>

        <th>
        </th>
      </tr>

      <% @drinks.each do |drink| %>
      <tr>
        <td>
          <%= drink.id %>
        </td>

        <td>
          <%= drink.size %>
        </td>

        <td>
          <%= drink.caffeine_amount %>
        </td>

        <td>
          <%= drink.coffee_chain %>
        </td>

        <td>
          <%= drink.type_of_drink %>
        </td>

        <td>
          <a href="/drinks/<%= drink.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<a href="https://final-project-adriana-adrianabrito.c9users.io/">
  Go back
</a>